@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --avt-bg-color: #4a819e;
    --avt-text-color: #4a819e;
    --bg-color: #4a819e;
    --text-color: #ffffff;
}


.ant-btn-primary {
    background-color: var(--bg-color) !important;
}

.ant-table-thead>tr>th {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    text-align: center !important;
    padding: 10px 10px !important;
}

.ant-table-container {
    border: 2px solid var(--bg-color) !important;
}

.ant-table-tbody>tr>td {
    padding: 10px 10px !important;
}


@layer components {
    .btn-submit {
        /* background-color: #ee4623; */
        /* color: white; */
        font-weight: 500;
        border-radius: 0.5rem;
        font-size: 0.875rem
            /* 14px */
        ;
        line-height: 1.25rem
            /* 20px */
        ;
        padding-left: 1.25rem
            /* 20px */
        ;
        padding-right: 1.25rem
            /* 20px */
        ;
        padding-top: 0.625rem
            /* 10px */
        ;
        padding-bottom: 0.625rem
            /* 10px */
        ;
        text-align: center;
        display: inline-flex;
        align-items: center;
        margin-right: 0.5rem
            /* 8px */
        ;
    }

    .btn-submit:hover {
        background-color: "#dba50f";
        color: white !important;

    }
}

.custom-table .ant-table-tbody>tr:hover {
    cursor: pointer;
}

.custom-select:hover {
    border-bottom: 1px solid var(--bg-color);
}

:where(.css-dev-only-do-not-override-129b63z).ant-input-number-filled {
    width: 100%;
}

.input-search {
    border: 2px solid var(--bg-color) !important;
    margin-bottom: 2px !important;
    width: 50% !important;
}

.input-search-drawer {
    border: 2px solid var(--bg-color) !important;
    margin-bottom: 10px !important;
    width: 100% !important;
}