@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
    background-color: #ee4623 !important;
}

@layer components {
    .btn-submit {
        /* background-color: #ee4623; */
        /* color: white; */
        font-weight: 500;
        border-radius: 0.5rem;
        font-size: 0.875rem
            /* 14px */
        ;
        line-height: 1.25rem
            /* 20px */
        ;
        padding-left: 1.25rem
            /* 20px */
        ;
        padding-right: 1.25rem
            /* 20px */
        ;
        padding-top: 0.625rem
            /* 10px */
        ;
        padding-bottom: 0.625rem
            /* 10px */
        ;
        text-align: center;
        display: inline-flex;
        align-items: center;
        margin-right: 0.5rem
            /* 8px */
        ;
    }

    .btn-submit:hover {
        background-color: #ee4623;
        color: white !important;

    }
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }